<!DOCTYPE html>
<html lang="cs">
<head>
	<title>{{ title }}</title>
	<script src="/static/sorttable.js"></script>
	<link rel="stylesheet" href="/static/main.css" type="text/css" />
</head>

<body>
<div class=auth>
{% if user.is_authenticated %}<a href="/accounts/logout/"> Odhlasit </a>{% else %}<a href="/accounts/login/">Prihlasit</a>{% endif %}
</div>
{% block content %}


{% endblock %}
</body>
</html>



