<html>
<body>
Seznam faktur
<nav>
<ul>
    {% for fa in faktury %}
    <li> <a href="./faktura/{{ fa.fa_id }}"> {{ fa.fa_id }} - {{ fa.odberatel }} ( {{ fa.vystaveno }} )</a> {{ fa.celkem }}</li>
    {% endfor %}
</ul>

Celkem vydelano od zacatku roku: <b> {{ celkem }},- Kc</b>
</nav>

</body>
</html>
