<style type="text/css">
.faktura {
    display: block;
    width: 1000px;
}

table.faktura {
    border-width: 2px;
    border-spacing: 4px;
    border-style: outset;
    border-color: black;
    border-collapse: collapse;
    background-color: white;
}
table.faktura th {
    border-width: 2px;
    padding: 5px;
    border-style: outset;
    border-color: black;
    background-color: white;
    -moz-border-radius: ;
}
table.faktura td {
    border-width: 2px;
    padding: 5px;
    border-style: outset;
    border-color: black;
    background-color: white;
    -moz-border-radius: ;
}

.faktura_id, .summ {
    text-align: right;
    display: block;
    width: 1000px;
    height: 40px;
}



.hlavicka {
    display: block;
    width: 1000px;
    text-align: right;
    
}

.vypis {
    display: block;
    width: 1000px;
    margin-top: 50px;
}

table.tab_vypis {
    text-align: right;
}

td#aleft {
    text-align: left;
}

u {
    font-decortion: none;
    font-size: 8;
}

pre {
    display: block;
    padding-left: 15px;
    font-size: 10;
}

td {
    padding: 5;
    vertical-align: top;
}

</style>
<div class=faktura>
<div class=faktura_id><H2>Faktura - daňový doklad: VF{{ fa_id }} </H2></div>

<div class=hlavicka>
<table border=2 class=faktura>
<tr>
    <td rowspan=2 width=500 height=240>
        <u>Dodavatel sidlo:</u>
        <pre>
{{ dodavatel.adresa }} 
IČ:     {{ dodavatel.ico }}
DIČ:    {{ dodavatel.dic }}
        </pre>
        
        
        <u>Dodavatel kontakt:</u>
        <pre>
telefon:    
e-mail:         {{ dodavatel.email }} 
www:            {{ dodavatel.www }} 
mobil:          {{ dodavatel.tel }} 
        </pre>
    </td>
    <td rowspan=1 width=500 height=120>
        <u>Odberatel - sidlo:</u>
        <pre>
{{ odberatel.adresa }}

IČ: {{ odberatel.ico }}    DIČ: {{ odberatel.dic }}
        </pre>
    </td>
</tr>

<tr>
    <td rowspan=1 height=120>
        <u>Postovni adresa:</u>
        <pre>
{{ odberatel.adresa }}
        </pre>
    </td>
</tr>


<tr>
    <td rowspan=2 height=100>
        <pre>
Banka:          {{ dodavatel.bank_jmeno }}
Bankovní účet:  {{ dodavatel.bank_cu }}
IBAN:           {{ dodavatel.bank_iban }}
BIC:            {{ dodavatel.bank_bic }}
Variabilní s.:  {{ dodavatel.bank_vs }}
Konstantní s.:  {{ dodavatel.bank_ks }}
Specifický s.:  {{ dodavatel.bank_ss }}

        </pre>
    </td>
    <td rowspan=1 height=80>
        <u>Místo určení:</u>
        <pre>{{ misto_urceni }}</pre>
    </td>
</tr>

<tr>
    <td rowspan=1 height=30>
        <u>Číslo smlouvy:</u>
        <pre>{{ smlouva_cislo }}</pre>
        
    </td>
</tr>

<tr>
    <td rowspan=1 height=60>
        <pre>
Forma úhrady:   {{ platba }}
Způsob dopravy: {{ doprava }}

        </pre>
    </td>
    <td rowspan=1 height=60>
        <pre>
Vystaveno:                              {{ vystaveno }}
Datum splatnosi:                        {{ splatnost }}
Datum uskutečnění zdanitelného plnění:  {{ vystaveno }}
        </pre>
    </td>
</tr>
</table>
</div>


<div class=vypis>
<table border=0 class=tab_vypis width=1000px>
    <tr>
        <td width=300 id=aleft><b>Označení dodávky<br>
        Označení</b></td>
        <td width=100 ><b>Množství MJ</b></td>
        <td width=100><b>Cena za MJ</b></td>
        <td width=100><b>Cena za MJ <br> sleva = {{ sleva }}%</b></td>
        <td width=100><b>Sazba DPH</b></td>
        <td width=100><b>Základ [Kč]</b></td>
        <td width=100><b>Celkem [Kč]</b></td>
    </tr>
    
    {% for pol in polozky %}
    <tr>
        <td id=aleft>{{ pol.jmeno }} {{ pol.comment|default_if_none:"" }}</td>
        <td>{{ pol.pocet }}</td>
        <td>{{ pol.cena_bez_slevy }}</td>
        <td>{{ pol.cena_dph }}</td>
        <td>{{ pol.dph }}</td>
        <td>{{ pol.cena_zaklad }}</td>
        <td>{{ pol.cena_celkem }}</td>    
    </tr>
    {% endfor %}
</table>
</div>

<div class=summ>
    <h3> Celkem k úhradě:    {{ cena_celkem }} Kč </h3>
</div>
 
</div>
