{% extends "base.html" %}

{% block content %}
<h1> Prihlaseni </h1>

{% if form.errors %}
	<p> Invalid login </p>
{% endif %}

<form action="." method=POST>
 {% csrf_token %}
{% include "form.html" %}
<input type="submit" value="Přihlásit se">
<input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}

